<app-header></app-header>
<div id="div" class="container  ">

    <div class=" btn-toolbar  mb-3 " role="toolbar" aria-label="Toolbar with button groups">
        <div class=" btn-group me-2 text-center" role="group" aria-label="First group">
          <button type="button" class="btn btn-outline-secondary">1</button>
          <button type="button" class="btn btn-outline-secondary">2</button>
          <button type="button" class="btn btn-outline-secondary">3</button>
          <button type="button" class="btn btn-outline-secondary">4</button>
          <button type="button" class="btn btn-outline-secondary">5</button>
          <button type="button" class="btn btn-outline-secondary">6</button>
          <button type="button" class="btn btn-outline-secondary">7</button>
          <button type="button" class="btn btn-outline-secondary">8</button>
          <button type="button" class="btn btn-outline-secondary">9</button>
          <button type="button" class="btn btn-outline-secondary">10</button>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <button type="button" class="btn btn-outline-secondary">11</button>
          <button type="button" class="btn btn-outline-secondary">12</button>
          <button type="button" class="btn btn-outline-secondary">13</button>
          <button type="button" class="btn btn-outline-secondary">14</button>
          <button type="button" class="btn btn-outline-secondary">15</button>
          <button type="button" class="btn btn-outline-secondary">16</button>
          <button type="button" class="btn btn-outline-secondary">17</button>
          <button type="button" class="btn btn-outline-secondary">18</button>
          <button type="button" class="btn btn-outline-secondary">19</button>
          <button type="button" class="btn btn-outline-secondary">20</button>

        </div>
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="second group">
            <button type="button" class="btn btn-outline-secondary">21</button>
            <button type="button" class="btn btn-outline-secondary">22</button>
            <button type="button" class="btn btn-outline-secondary">23</button>
            <button type="button" class="btn btn-outline-secondary">24</button>
            <button type="button" class="btn btn-outline-secondary">25</button>
            <button type="button" class="btn btn-outline-secondary">26</button>
            <button type="button" class="btn btn-outline-secondary">27</button>
            <button type="button" class="btn btn-outline-secondary">28</button>
            <button type="button" class="btn btn-outline-secondary">29</button>
            <button type="button" class="btn btn-outline-secondary">30</button>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="button" class="btn btn-outline-secondary">31</button>
            <button type="button" class="btn btn-outline-secondary">32</button>
            <button type="button" class="btn btn-outline-secondary">33</button>
            <button type="button" class="btn btn-outline-secondary">34</button>
            <button type="button" class="btn btn-outline-secondary">35</button>
            <button type="button" class="btn btn-outline-secondary">36</button>
            <button type="button" class="btn btn-outline-secondary">37</button>
            <button type="button" class="btn btn-outline-secondary">38</button>
            <button type="button" class="btn btn-outline-secondary">39</button>
            <button type="button" class="btn btn-outline-secondary">40</button>
          </div>
          </div>
      </div>

      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="second group">
          <button type="button" class="btn btn-outline-secondary">41</button>
          <button type="button" class="btn btn-outline-secondary">42</button>
          <button type="button" class="btn btn-outline-secondary">43</button>
          <button type="button" class="btn btn-outline-secondary">44</button>
          <button type="button" class="btn btn-outline-secondary">45</button>
          <button type="button" class="btn btn-outline-secondary">46</button>
          <button type="button" class="btn btn-outline-secondary">47</button>
          <button type="button" class="btn btn-outline-secondary">48</button>
          <button type="button" class="btn btn-outline-secondary">49</button>
          <button type="button" class="btn btn-outline-secondary">50</button>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <button type="button" class="btn btn-outline-secondary">51</button>
          <button type="button" class="btn btn-outline-secondary">52</button>
          <button type="button" class="btn btn-outline-secondary">53</button>
          <button type="button" class="btn btn-outline-secondary">54</button>
          <button type="button" class="btn btn-outline-secondary">55</button>
          <button type="button" class="btn btn-outline-secondary">56</button>
          <button type="button" class="btn btn-outline-secondary">57</button>
          <button type="button" class="btn btn-outline-secondary">58</button>
          <button type="button" class="btn btn-outline-secondary">59</button>
          <button type="button" class="btn btn-outline-secondary">60</button>
        </div>
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="second group">
            <button type="button" class="btn btn-outline-secondary">61</button>
            <button type="button" class="btn btn-outline-secondary">62</button>
            <button type="button" class="btn btn-outline-secondary">63</button>
            <button type="button" class="btn btn-outline-secondary">64</button>
            <button type="button" class="btn btn-outline-secondary">65</button>
            <button type="button" class="btn btn-outline-secondary">66</button>
            <button type="button" class="btn btn-outline-secondary">67</button>
            <button type="button" class="btn btn-outline-secondary">68</button>
            <button type="button" class="btn btn-outline-secondary">69</button>
            <button type="button" class="btn btn-outline-secondary">70</button>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <button type="button" class="btn btn-outline-secondary">71</button>
            <button type="button" class="btn btn-outline-secondary">72</button>
            <button type="button" class="btn btn-outline-secondary">73</button>
            <button type="button" class="btn btn-outline-secondary">74</button>
            <button type="button" class="btn btn-outline-secondary">75</button>
            <button type="button" class="btn btn-outline-secondary">76</button>
            <button type="button" class="btn btn-outline-secondary">77</button>
            <button type="button" class="btn btn-outline-secondary">78</button>
            <button type="button" class="btn btn-outline-secondary">79</button>
            <button type="button" class="btn btn-outline-secondary">80</button>
          </div>
          
          </div>
        
        </div>
<br><br>
<p>number of seats:</p>
<p>total amount: </p>
<button type="button" class="submit btn btn-outline-success">Submit</button>
      
    </div>

      <app-footer></app-footer>



